/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Define color scheme */
:root {
  --bg_color: #FFFFFF;
  --header_footer_color: #e1e8fb;
  --dark_blue: #3F579F;
  --medium_blue: #496CD4;
  --light_blue: #839FF2;
  --accent_color: #eef9ff;
}

/* Root style for app container */
.app_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  background-color: var(--bg_color);
}

/* Default colors for text elements */
h1 {
  color: var(--dark_blue);
}

h2 {
  color: var(--medium_blue);
}

h3 {
  color: var(--light_blue);
}

p {
  color: var(--dark_blue);
}


/* Define global button style */
.btn {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 0.5rem;
  width: 155px;
  height: 38px;
  border-radius: 3px;
  overflow: hidden;
}